/***background Images***/
.pic01{
    background: url("../img/Shirt_Women_Home.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.pic02{
    background: url("../img/Shirt_Men_Home.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.pic03{
    background: url("../img/Shirt_Rock_Home.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}
.pic04{
    background: url("../img/Shirt_Retro_Home.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.pic05{
    background: url("../img/Shirt_Series_Home.webp");
    background-size: cover;
    background-repeat: no-repeat;
}