$BorderTitle: white 2px 0px 0px, white 1.75517px 0.95885px 0px, white 1.0806px 1.68294px 0px, white 0.14147px 1.99499px 0px, white -0.83229px 1.81859px 0px, white -1.60229px 1.19694px 0px, white -1.97998px 0.28224px 0px, white -1.87291px -0.70157px 0px, white -1.30729px -1.5136px 0px, white -0.42159px -1.95506px 0px, white 0.56732px -1.91785px 0px, white 1.41734px -1.41108px 0px, white 1.92034px -0.55883px 0px;
$FontTitle:pickleweasel;
$NavPillsColor:#5D5D5D;

/* MAP OF COLORS*/
$colorpallete:(
PrimaryBlue: #005B96,
BlueLight:#D2E2F2,
DarkBlack: #000000,
SecundaryAccent:#7C77C7,
)